{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
  aria-expanded="false" aria-controls="collapseExample">
  Filter locations
</button>
<div class="collapse" id="collapseExample">
  <div class="filter-locations-wrapper">
    <form action="/" method="post">
      <div class="filter-form-wrapper">
        {{#each locationNames}}
        <div class="custom-control custom-checkbox" id="filter-location-box">
          <input name="filter-check{{this._id}}" type="checkbox" class="custom-control-input"
            id="customCheck{{this._id}}" value="{{this._id}}">
          <label class="custom-control-label" for="customCheck{{this._id}}">{{this.name}}</label>
        </div>
        {{/each}}
      </div>
      <button type="submit">Filter!</button>
    </form>
  </div>
</div>

<div class='n-slider'>
  <div>
    <div class="nav-bar">
      <div class="nav"> <span class="swipe-titles"> Today</span></div>
    </div>
    {{#each eventsTodayArr}}
    <div class="event-container today" id="{{this._id}}">
      <div class="event-column-left">
        <form action="/auth/going/{{this._id}}" method="post">
          {{#if going}}
          <button type="submit" class="button-attending-event">
            <p>have fun!</p>
            <div>
              <ion-icon name="close-circle"></ion-icon>
            </div>
          </button>
          {{else if ../userLoggedIn}}
          <button type="submit" class="button-going">
            <p>wanna go?</p>
            <div>
              <ion-icon name="add-circle-outline"></ion-icon>
            </div>
          </button>
          {{/if}}
        </form>
      </div>
      <div class="event-column-center">
        <div class="location">{{this.location.name}}</div>
        <div class="event">{{event}}</div>
        <div class="description">description: {{description}}</div>
      </div>
      <div class="event-column-right">
        <form action="/whoisgoing/{{this._id}}" method="post">
          <button type="submit" class="button-attending-event">
            <p>who else goes?</p>
            <div>
              <ion-icon name="contacts"></ion-icon>
            </div>
          </button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div>
    <div class="nav-bar">
      <div class="nav"> <span class="swipe-titles"> Tomorrow</span></div>
    </div>
    {{#each eventsTomorrowArr}}
    <div class="event-container tomorrow" id="{{this._id}}">
      <div class="event-column-left">
        <form action="/auth/going/{{this._id}}" method="post">
          {{#if going}}
          <button type="submit" class="button-attending-event">
            <p>have fun!</p>
            <div>
              <ion-icon name="close-circle"></ion-icon>
            </div>
          </button>
          {{else if ../userLoggedIn}}
          <button type="submit" class="button-going">
            <p>wanna go?</p>
            <div>
              <ion-icon name="add-circle-outline"></ion-icon>
            </div>
          </button>
          {{/if}}
        </form>
      </div>
      <div class="event-column-center">
        <div class="location">{{this.location.name}}</div>
        <div class="event">{{event}}</div>
        <div class="info-wrapper">
          <div class="description">description: {{description}}</div>
        </div>
      </div>
      <div class="event-column-right">
        <form action="/whoisgoing/{{this._id}}" method="post">
          <button type="submit" class="button-attending-event">
            <p>who else goes?</p>
            <div>
              <ion-icon name="contacts"></ion-icon>
            </div>
          </button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <div>
    <div class="nav-bar">
      <div class="nav"> <span class="swipe-titles">Day After Tomorrow</span> </div>
    </div>{{#each eventsAfterTomorrowArr}}
    <div class="event-container dayaftertomorrow" id="{{this._id}}">
      <div class="event-column-left">
        <form action="/auth/going/{{this._id}}" method="post">
          {{#if going}}
          <button type="submit" class="button-attending-event">
            <p>have fun!</p>
            <div>
              <ion-icon name="close-circle"></ion-icon>
            </div>
          </button>
          {{else if ../userLoggedIn}}
          <button type="submit" class="button-going">
            <p>wanna go?</p>
            <div>
              <ion-icon name="add-circle-outline"></ion-icon>
            </div>
          </button>
          {{/if}}
        </form>
      </div>

      <div class="event-column-center">
        <div class="location">{{this.location.name}}</div>
        <div class="event">{{event}}</div>
        <div class="info-wrapper">
          <div class="description">description: {{description}}</div>
        </div>
      </div>

      <div class="event-column-right">
       <form action="/whoisgoing/{{this._id}}" method="post">
          <button type="submit" class="button-attending-event">
            <p>who else goes?</p>
            <div>
              <ion-icon name="contacts"></ion-icon>
            </div>
          </button>
        </form>
      </div>

    </div>
    {{/each}}
  </div>
</div>