<div class="typewriter">
  <h1>Who is going?</h1>
</div>

<div class="event-container event-whoisgoing">
  <div class="event-column-left"></div>
  <div class="event-column-center">
    <div class="title-whoisgoing">
      <h2>Event</h2>
    </div>

    <div class="event">{{event.event}}</div>
    <div class="date">{{event.date}}</div>
    <div class="description">description: {{event.description}}</div>
  </div>
  <div class="event-column-right-location">
    <h4>Location: </h4>
    <div class="location">{{event.location.name}}</div>
    <div class="location">{{event.location.address}}</div>
  </div>
</div>

<div class="attending-users">
  <div class="title-whoisgoing">
    <h2>Attendees</h2>
  </div>
  {{#if usersWhoGo}}
  {{#each usersWhoGo}}
  <h4> <i class="fas fa-user-ninja"></i> {{this.username}}</h4>
  {{/each}}
  {{else}}
  <h4>Be the first one to sign up!</h4>
  {{/if}}
</div>

<div class="button-back">
  <form action="/" method="get">
    <button>Back to the main page</button>
  </form>
</div>