<div class="profile-container" id="edit-event">
  <h2>Edit your event</h2>

  <form action="/yourevents/edit/{{event._id}}" method="post" class="input-form" id="form-container">

    <label for="location">Location: </label>
    <select name="location" value="">
      {{#each locationNames}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>

    <label for="event">Event name: </label>
    <input type="text" name="event" value="{{event.event}}">

    <label for="date">Date: </label>
    <input type="text" name="date" value="{{event.date}}">

    <label for="description">Description: </label>
    <input type="time" name="description" value="{{event.description}}">

    <button type="submit">Save changes</button>
  </form>

</div>