<div class="profile-container" id="edit-event">
  <h2>Edit your event</h2>

  <form action="/yourevents/edit/{{_id}}" method="post" class="input-form" id="form-container">

    <label for="location">Location: </label>
    <input type="text" name="location" value="{{location}}">

    <label for="event">Event name: </label>
    <input type="text" name="event" value="{{event}}">

    <label for="door">Door: </label>
    <input type="time" name="door" value="{{door}}">

    <label for="begin">Begin: </label>
    <input type="time" name="begin" value="{{begin}}">

    <label for="end">End: </label>
    <input type="time" name="end" value="{{end}}">

    <label for="price">Price: </label>
    <input type="number" name="price" value="{{price}}">

    <button type="submit">Save changes</button>
  </form>

</div>