<div class="title-yourevents">
  <h1>Your events</h1>
</div>

{{#each yourEvents}}
<div class="event-container event-yourevents">
  <div class="event-column-left"></div>
  <div class="event-column-center" id="{{this._id}}">
    <div class="location">{{location.name}}</div>
    <div class="event">{{event}}</div>
    <div class="info-wrapper">
      <div class="description">description: {{description}}</div>
    </div>
  </div>
  <div class="event-column-right">
    <form action="/yourevents/edit/{{_id}}" method="get">
      <button>Edit event</button>
    </form>
    <form action="/yourevents/delete/{{_id}}" method="post">
      <button>Delete event</button>
    </form>
  </div>
</div>
{{/each}}

<form action="/yourevents/add" method="get">
  <button>Add event</button>
</form>